<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/w3css/3/w3.css">

<head>
  <! -- Company Login page - Title page -->
  <title>Humanetics Home Page</title>
  <img class="img-hr-logo" src="{{ url_for('static', filename='HRMS-logo.png') }}" width="50" height="150" alt="HRMS Logo"/>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='HRMS-logo.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>

<body>

<!-- Navigation -->
<nav class="w3-bar_w3-black">
    <a href="#configuration" class="w3-button w3-bar-item">Configuration</a>
    <a href="#employee list" class="w3-button w3-bar-item">Employee List</a>
    <a href="#add employee" class="w3-button w3-bar-item">Add Employee</a>
    <a href="#performance_ratings" class="w3-button w3-bar-item">Performance & Ratings</a>
    <a href="{{ url_for('course_list') }}" class="w3-button w3-bar-item">Training Programs</a>
  </nav>

</body>
</html>